body {
  background-color: rgb(108, 245, 142);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

div:hover{
background-color: #acee11;
  color: #061300;
  border: 3px double #eb0707;}

  div {
  background-color: #eef3fa;
  color: #57ca22;
  border: 3px double #446f94;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  font-size: x-large;
  font-style: italic;
   border-radius: 50px;
   transition: 0.5s;}

   .input typd{
    size: xlarge;
    color: #acee11;



   }
   


   hr {
    border: none;
    height: 4px;
    background-color: black;
    margin: 20px 0;
    border-radius: 2px;
}

